# Dependencias (esta carpeta es muy pesada y Render la crea solo)
node_modules/

# Base de datos local (no queremos subir tus pedidos de prueba a GitHub)
pedidos.db
pedidos.db-journal

# Archivos de configuración del sistema
.DS_Store
Thumbs.db

# Variables de entorno (si llegas a usar un archivo .env para contraseñas)

# Carpetas de logs o errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*